!!! Strict
%html
  %head
    %title Awesome
    %META{:CONTENT => "NOINDEX, NOFOLLOW", :NAME => "ROBOTS"}
      %link{:href => "/media/css/awesome.css", :rel => "stylesheet", :type => "text/css"}/
      %script{:src => "/media/js/awesome.js", :type => "text/javascript"}
  %body
    #wrapper
      .page
        .line
          .line
            %h1
              What&rsquo;s
              %span.awesome Awesome?
            %h2 A real-time look at things that are awesome.
          .unit
            #target
              .line
                .block
                  .text
                .block
                  .text
                .block
                  .text
              .line
                .block
                  .text
                .block
                  .text
                .block
                  .text
              .line
                .block
                  .text
                .block
                  .text
                .block
                  .text
          .line.cred
            From
            %a{:href => "http://thisismedium.com/labs/"} Medium Labs