!!! Strict
%html
  %head
    :plain
      <meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
      <meta name="description" content=""/> 
      <meta name="keywords" content="" />
      <link  href="http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC:regular" rel="stylesheet" type="text/css" >
      
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/media/css/site.css"}
    %title WYATTDANGER :: ARRRR
  %body
    = yield
    %script{:type=>"text/javascript", :src=>"/media/js/site.js"}